body 
{
    /* Refer to TOUCAN color scheme */
    background-color: #66BCD0;
    background-image: url('../images/smallprojectpotbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

#title 
{
    font-size: 100px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #070709;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 14%;
    margin-top: 10%;
    padding: 25px;
    background-color: #FBD805;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #FBD805;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #FBD805;
}

.buttons
{
    font-size: 20px;
    /*border-radius: 25px;*/
    width: 20%;
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #b84f60; /* Set your desired background color */
    color: rgb(5, 5, 5); /* Set your desired text color */
}
.logInButton
{
    font-size: 20px;
    /*border-radius: 25px;*/
    width: 20%;
    margin-left: 40%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #b84f60; /* Set your desired background color */
    color: rgb(5, 5, 5); /* Set your desired text color */
}

.infoNestButton
{
   
    background-image: url('../images/logo8.png');
    mix-blend-mode: normal;
    background-color: #66BCD0;

    margin-left: 5%;  
    background-size: cover; /* Adjust the background size property based on your design */
    width: 100px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    border: none; /* Remove border if needed */
        /* Add any additional styling properties */
    
    

}
.loginInfoNestButton{
    /*background-image: url('../images/logo8.png');*/
    mix-blend-mode: hard-light;
    background-color: transparent;
    margin-top: 2%;

    margin-left: 5%;  
    background-size: cover; /* Adjust the background size property based on your design */
    width: 100px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    border: none; /* Remove border if needed */
        /* Add any additional styling properties */

}
.buttons:hover
{
    background-color: #F77700;
    color: #070709;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}

#loginPassword
{
	font-size: 30px;
}

#searchText
{
	font-size: 30px;
}

#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]
{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #070709;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #070709;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton
{
    width: 20%;
    margin-left: 40%;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult
{
    display: none;
}

#colorAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #070709;
}

.topnav
{
    background-color: #66BCD0;
    height: 100px;
    overflow: hidden;
}